
* {
    font-family: 'Oswald', sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;




}

.form-select{
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    margin: 3px;
    background-color: rgb(65, 63, 63);
    color: white;
    border: 1 px solid rgb(163, 155, 155);
 
  
}
.buscador{
    width: 250px;
    display: flex;
 
 
  
}

.busqueda{  border: 1px solid white;
    color: white;
    margin-left:3px ;
    margin-top: 2px;}
#register{
    border: 1px solid white;
    color: white;
    
   
    margin-left:3px ;
    margin-top: 2px;
 
  
}
.logsesion{
   
    margin: 2px 0px 0px 500px;
    display: flex;
}
#login{
    border: 1px solid white;
    display: inline-block;
    float: right;
    
    
    
    margin-left:3px ;
    margin-top: 2px;
    
}

body{
   
    background-image: url(1499.jpg);
    background-color: black;
}

.nav-link {
    color: white;
    
}

.registro{
    
    
    color: white;
    width: 500px;
    height: fit-content;
    position: absolute;
    padding: 30px;
  top: 200px;
  left: 100px;
  bottom:100px;
  right: 100px;
  margin: auto;
    border-radius: 4px;
    background-color: rgb(34, 32, 32);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    box-shadow: 20px 10px 30px black;
   
}
.registro p {
   height: 40px;
   line-height: 40px;
}
.registrarse{
    
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    height: 40px;
    text-align: center;
}

.registrarse:hover{
    opacity: 80%;
    transition: all .3s;
}
.controls{
    border: 1px solid white;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    margin: 3px;
    background-color: rgb(65, 63, 63);
    color: white;
    border: 1 px solid rgb(163, 155, 155);
    font-size: 15px;
  
    
}

.navbar-brand:hover{
    opacity: 100% !important;
}

#home {
    text-align: center;
}

.footer {
    position: absolute;
    width: 100%;
    padding: 0;
    margin-top: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.terminos:hover{
    text-decoration: underline;
}
a {
    text-decoration: none;
}

a:link {
    text-decoration: none
}

a:hover {
    color: white;
    text-decoration: none;
    opacity: 75%;
}

a:visited {
    color: white;
    text-decoration: none
}

.nav-link:link {
    color: white;
    text-decoration: none
}

.nav-link:hover {
    color: white;
    text-decoration: none
}

.nav-link:visited {
    color: white;
    text-decoration: none
}


.icon1 {
    width: 50px;
    height: 50px;
}

.icon2 {
    width: 50px;
    height: 50px;
}

.icon3 {
    width: 50px;
    height: 50px;
}

.social-icons {
    
    margin-left: 100px;
    grid-column: auto;
    text-align: right;
    display: flex;
    flex-grow: 1;
    padding: 0;
    list-style: none;
    display: inline-flexbox;
    
}

.social-icons li {
    margin: 0 20px;
}

.social-icons li a {
    border: 3px solid deepskyblue;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    border-right: none;
    border-top: none;
    transition: 1s ease;
}

.social-icons li a:hover {
    border-top: 3px solid;
    border-right: 3px solid;
    transform: rotate(360deg);
    background-color: deepskyblue;
    border-color: white;
    
}
